<div>
    <custom-search [name]="oneWayFlight" (userUpdated)="handleUserUpdatedIda($event)" (airportCode)="getAirportCodeFrom($event)"></custom-search>
    <custom-search [name]="returnFlight" (userUpdated)="handleUserUpdatedVolta($event)" (airportCode)="getAirportCodeTo($event)"></custom-search>
</div>
<my-date-picker 
    [options]="myDatePickerOptions"
    [selDate]="initialDate"
    [(ngModel)]="model">
</my-date-picker>

<my-date-picker 
    [selDate]="endDate" 
    [options]="myDatePickerOptions"
    [(ngModel)]="model1">
</my-date-picker>


<button (click)="dates(model, model1)">click</button>